@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300..400;1,300..400&display=swap');

/* _____ GENERAL _____ */

body {
    background-color: black;
    font-family: Roboto, Helvetica;
    color: #fff;
}

p {
    margin: 0;
}

.title {
    font-family: "Bebas Neue", Helvetica;
    font-size: 4rem;
}


/* _____ CALL-OUT _____ */

.callout-container {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hero-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    border-bottom: 8px solid #222;
}

.callout-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.callout-container h1 {
    font-family: "Bebas Neue", Helvetica;
    font-size: 4em;
    letter-spacing: 1.5px;
    line-height: 90%;
}

.callout-cta br {
    display: none;
}


/* _____ HEADER _____ */

.header-wrapper {
    padding: 0 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
}

.header-title-emphasized {
    font-style: italic;
}

.button-cta {
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.callout-button-cta {
    margin-top: 20px;
}

.header-wrapper button-cta {
    margin-right: 10px;
}

.button-cta:hover {
    color: #fff;
    background-color: #ff0000;
}


/* _____ NAVBAR _____ */

.navbar {
    background-color: rgba(0, 0, 0, 0.75)
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .show>.nav-link {
    color: white;
    font-family: "Bebas Neue", Helvetica;
    letter-spacing: 1.2px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e50914;
}

.navbar-brand {
    padding: 0;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75);
    border: 0;
    border-left: 3px solid white;
    border-radius: 0;
    padding: 0;
    margin: 0 0 0 8px;
    min-width: inherit;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown-item {
    color: white;
    font-family: "Bebas Neue", Helvetica;
    letter-spacing: 1.2px;
    padding-left: 10px;
}

.dropdown-item:hover {
    color: #e50914;
    background-color: transparent;
}

.navbar-brand img {
    width: 50%;
}

.navbar-collapse {
    flex-grow: initial;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}


/* _____ OUR STARS SECTION _____ */

.our-stars-container {
    padding: 2.5vh 0;
    border-bottom: 8px solid #222;
}

.goat-cta {
    margin-top: 0.5em;
}

.pola-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 1em;
}

.polaroid {
    position: relative;
    background: #fff;
    width: 250px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.polaroid:hover {
    opacity: 0.8;
}

.pola-left {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.pola-left+.goat-cta {
    margin-left: 9em;
}

.pola-right {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.pola-right+.goat-cta {
    margin-right: 9em;
}

.pola-picture img {
    max-width: 100%;
}

.pola-title h3 {
    font-family: "Bebas Neue", Helvetica;
    color: black;
    padding-top: 10px;
    margin: 0;
    font-size: 2em;
}

.goat-description {
    padding: 1em;
}

.divider {
    width: 65vw;
    background-color: #e50914;
    margin: 2vh auto;
    opacity: 1;
}


/* _____ CUSTOMERS REVIEWS _____ */

.customers-reviews {
    padding: 2.5vh 0;
    border-bottom: 8px solid #222;
}

.customer-picture {
    height: 10em;
}

.blockquote {
    font-size: 16px;
}

.blockquote-footer {
    margin-top: 10px;
    margin-left: 2em;
}


/* _____ GENERAL INFO _____ */

.general-info-container {
    padding: 2.5vh 0;
    border-bottom: 8px solid #222;
}

.toc {
    background-color: #222;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

h5.title {
    font-size: 3em;
}

.toc-list {
    font-family: "Bebas Neue", Helvetica;
    font-size: larger;
}

.toc-list li.li-main {
    margin-top: 0.5em;
}

.toc-list li::marker {
    color: #e50914;
}

.toc-list li.li-sub {
    list-style: none;
    color: #e50914;
}

.toc-list .li-sub#sub-one:before {
    content: "1.1";
    padding-right: 0.2em;
}

.toc-list .li-sub#sub-two:before {
    content: "2.1";
    padding-right: 0.2em;
}

.toc-list .li-sub#sub-four:before {
    content: "4.1";
    padding-right: 0.2em;
}

.toc-list a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.toc-list a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1em;
    border-bottom: 2px solid #e50914;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.toc-list a:hover:after {
    width: 100%;
    border-bottom-color: #e50914;
}

h6.title {
    font-size: 2em;
    text-align: center;
    padding-top: 0.5em;
}

#general-info p {
    padding-bottom: 0.5em;
}

#general-info hr {
    width: 85%;
}

#general-info hr+p {
    padding-bottom: 0;
    text-align: center;
}

#general-info img {
    display: block;
    margin: 0.5em auto;
    border-radius: 25%;
}


/* _____ FAMOUS GOATS _____ */

.famous-goats-container {
    padding: 2.5vh 0;
    border-bottom: 8px solid #222;
}

.famous-goats-container img {
    width: 100%;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.famous-goats-container p {
    padding-bottom: 0.5em;
}

.famous-goat-title {
    font-family: "Bebas Neue", Helvetica;
    font-size: 2em;
}

.famous-goats-container a {
    color: #fff;
}

.famous-goats-container a:hover {
    text-decoration: underline solid #e50914 0.2em;
}


/* _____ FOOTER _____ */

footer {
    padding: 10px 0;
}

footer ul {
    margin: 0;
}

.social,
.copyright {
    text-align: center;
}

.social li a i {
    width: 25px;
    height: 25px;
    padding: 11px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 5px;
    color: #e50914;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social li a i:hover {
    background-color: #f40612;
    color: black;
    transform: rotateY(360deg);
}

.copyright {
    padding-top: 0.2rem;
    font-size: 10px;
}


/* _____ CONTACT MODAL _____ */

.modal-content {
    background-color: #222;
}

.modal-title {
    font-family: "Bebas Neue", Helvetica;
    font-size: 3em;
    ;
}

form {
    padding: 0 2em;
}

.modal-header {
    position: relative;
}

.modal-header button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-header .btn-close {
    margin: 0;
    margin-bottom: 10.5em;
}

.modal-footer .button-cta {
    padding: 7px 40px;
}

.form-label {
    margin-bottom: 0;
}


/* _____ 404 PAGE _____ */

.title-404 {
    font-family: "Bebas Neue", Helvetica;
    font-size: 7em;
    color: #e50914;
    font-style: normal;
    margin: 0;
}

.text-404 {
    font-style: italic;
}

.img-404 {
    width: 50vw;
    margin: 4vh 0;
    padding: 10px;
    border-radius: 25%;
    background-color: white;
}

.line1,
.line2 {
    position: relative;
    display: inline-block;
}

.line1:before {
    content: "«";
    font-size: 5em;
    color: #e50914;
    position: absolute;
    top: -0.8em;
    left: -0.5em;
}

.line2:after {
    content: "»";
    font-size: 5em;
    color: #e50914;
    position: absolute;
    bottom: -0.6em;
    right: -0.5em;
}


/* _____ MEDIA QUERIES _____ */

@media (max-width: 1024px) {
    .pola-container {
        flex-direction: row;
    }
    .pola-right {
        order: 2;
    }
    .customer-card {
        padding: 0 1em;
    }
    .toc-list a:after {
        width: 100%;
        border-bottom-width: 2px;
    }
}

@media (max-width: 768px) {
    .customer-picture {
        height: 8em;
    }
    .modal-dialog {
        max-width: 85%;
    }
}

@media (max-width: 575px) {
    .header-wrapper {
        padding: 0 20px;
    }
    .header-wrapper img {
        height: 75%;
    }
    .callout-wrapper h1 {
        font-size: 50px;
    }
    .button-cta {
        padding: 5px 10px;
    }
    .callout-cta br {
        display: inline;
    }
    .dropdown-menu {
        background-color: transparent;
    }
    .no-display {
        display: none;
    }
    .img-404 {
        width: 75vw;
        padding: 5px;
    }
    .modal-dialog {
        max-width: 100%;
    }
    .modal-header {
        height: 16vh;
    }
    .modal-footer {
        justify-content: space-between;
    }
    .famous-goat-title {
        text-align: center;
    }
    .famous-goats-container img {
        width: 60%;
    }
    .text-end {
        text-align: left!important;
    }
}

@media (max-height: 450px) {
    header {
        height: 60px;
    }
    .header-wrapper {
        padding: 0 20px;
    }
    .header-wrapper img {
        height: 75%;
    }
    .callout-wrapper {
        padding-top: 7vh;
        padding-bottom: 2.5vh;
    }
    .callout-wrapper h1 {
        font-size: 50px;
    }
    .button-cta {
        padding: 5px 10px;
    }
    .callout-cta br {
        display: none;
    }
    .dropdown-menu {
        background-color: transparent;
    }
}

@media (max-width: 320px) {
    body p {
        font-size: small;
    }
    header {
        height: 60px;
    }
    .header-wrapper {
        padding: 0 20px;
    }
    .header-wrapper img {
        height: 50%;
    }
    .button-cta {
        padding: 5px 10px;
    }
    .goat-cta {
        margin-top: 0;
    }
    .text-404 {
        font-size: smaller;
    }
    .line1:before {
        font-size: 4em;
    }
    .line2:after {
        font-size: 4em;
    }
    .modal-header {
        height: 11vh;
    }
    .modal-header h5 {
        font-size: 2.2em;
    }
    .modal label {
        font-size: smaller;
    }
    form {
        padding: 0 1em;
    }
}

@media (max-height: 300px) {
    header {
        height: 60px;
    }
    .header-wrapper {
        padding: 0 20px;
    }
    .header-wrapper img {
        height: 75%;
    }
    .callout-wrapper {
        padding-top: 7vh;
        padding-bottom: 2.5vh;
    }
    .callout-wrapper h1 {
        font-size: 40px;
    }
    .button-cta {
        padding: 5px 10px;
    }
    .callout-cta br {
        display: none;
    }
}